body {
	margin: 0;
	overflow: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

#three-canvas {
	position: fixed;
	left: 0;
	top: 0;
}

.sections {
	position: relative;
	z-index: -1;
}
.section {
	box-sizing: border-box;
	padding: 5rem;
	height: 100vh;
}
.fixbtnContainer {
	position: fixed;
  width: 250px;
  height: 100px;
	top: 3%;
	right: 30px;
}
.fixbtn {
  position: absolute;
  right: 0;
  background: transparent;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  letter-spacing: 0.3em;
  color: rgba(0, 31, 93, 0.7);
  border-radius: 20px;
  padding: 13px 20px;
  transition: all 0.3s ease;
  background: linear-gradient(270deg, rgba(93, 106, 219, 0.8), rgba(15, 15, 202, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 2px solid rgba(0, 31, 93, 0.7);
	cursor: pointer;
}

.fixbtn:hover {
  border: 2px solid white;
  color: white;
  background-position: 99% 50%;
}

.btnContainer {
	position: fixed;
	bottom: 3%;
	right: 3%;
  transition: all 0.3s;
}
.btn {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.3em;
  color: rgba(130, 19, 123, 0.7);
  border-radius: 20px;
  padding: 13px 20px;
  transition: all 0.3s;
  background: linear-gradient(270deg, rgba(209, 114, 214, 0.8), rgba(168, 15, 202, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 2px solid rgba(130, 19, 123, 0.7);
	cursor: pointer;
}

.btn:hover {
  border: 2px solid white;
  color: white;
  background-position: 99% 50%;
}

.stackInformation {
	position: fixed;
	left: 100%;
	top: 12%;
	width: 50vw;
	height: 65vh;
  min-width: 600px;
  min-height: 550px;
  border-radius: 20px;
  border: 1px solid white;
	color: white;
	background: rgba(0, 0, 0, 0.7);
	transition-duration: 1s;
}

.stackInformation h1 {
	text-align: center;
}

.stackInformation ul {
	display: inline-block;
	width: 40%;
	font-size: 15px;
}

.stackInformation ul:nth-child(2), .stackInformation ul:nth-child(3) {
  color: gold;
}

.stackInformation ul:nth-child(4) {
  list-style: square;
	width: 90%;
}

.projectOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  opacity: 0;
  z-index: -5;
  transition: all 1s ease;
  cursor: pointer;
}

.overlayTextBox {
  position: absolute;
  width: 100%;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes blink {
  from {opacity: 0;}
  to {opacity: 1;}
}

.overlayTextBox span {
  animation: blink 1s infinite alternate;
}

.projectModal {
  position: fixed;
  top: 13%;
  right: -100%;
  width: 600px;
  height: 70vh;
  min-height: 600px;
  border-radius: 20px 0px 0px 20px;
  transition-duration: 1s;
}

.projectModal h1 {
  text-align: center;
}

.projectModal ul li:nth-child(4n+1) {
  font-size: 20px;
}

.projectModal ul li:nth-child(4n+3) {
  list-style: none;
}

.projectModal ol {
  padding-left: 10px;
}

.projectModal div {
  width: 90%;
  margin: auto;
}

.projectModal span {
  width: 90%;
  margin: auto;
  
}

.modal0 {
  background-color: rgba(8, 14, 47, 0.7);
  border: 2px solid rgb(245, 196, 67);
  color: white;
}

.modal0 span, .modal0 h1 {
  color: rgb(245, 196, 67);
}

.modal1 {
  background-color: rgba(81, 80, 80, 0.7);
  border: 2px solid rgb(255, 109, 93);
  color: white;
}

.modal1 span, .modal1 h1 {
  color: rgb(255, 109, 93);
}

.modal2 {
  background-color: rgba(69, 69, 69, 0.7);
  border: 2px solid rgb(238, 36, 245);
  color: white;
}

.modal2 span, .modal2 h1 {
  color: rgb(238, 36, 245);
}

.modal3 {
  background-color: rgba(69, 69, 69, 0.7);
  border: 2px solid black;
  color: white;
}

.modal3 span, .modal3 h1 {
  color: gold;
}

.modal4 {
  background-color: rgba(57, 172, 218, 0.7);
  border: 2px solid rgb(6, 23, 100);
  color: white;
}

.modal4 span, .modal4 h1 {
  color: rgb(6, 23, 100);
}

.sourceBtn {
  left: 50px;
  position: relative;
}

.pageBtn {
  left: 220px;
  position: relative;
}

.projectBtn {
  display: inline-block;
  position: fixed;
  width: 140px;
  height: 50px;
  top: -100%;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3em;
  border-radius: 20px;
  padding: 13px 20px;
  transition: all 0.5s;
  margin: 0.625rem;
}

.project0 {
  background: transparent;
  background-position: 1% 50%;
  border: 2px solid rgb(245, 196, 67);
  color: rgb(245, 196, 67);
}

.project0:hover {
  background: linear-gradient(270deg, rgba(122, 114, 214, 0.8), rgba(19, 56, 130, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
}

.project1 {
  background: transparent;
  background-position: 1% 50%;
  border: 2px solid rgb(255, 109, 93);
  color: rgb(255, 109, 93);
}

.project1:hover {
  background: linear-gradient(270deg, rgba(158, 158, 158, 0.8), rgba(81, 80, 80, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
}

.project2 {
  background: transparent;
  background-position: 1% 50%;
  border: 2px solid rgb(238, 36, 245);
  color: rgb(238, 36, 245);
}

.project2:hover {
  background: linear-gradient(270deg, rgba(130, 125, 125, 0.8), rgba(69, 69, 69, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
}

.project3 {
  background: transparent;
  background-position: 1% 50%;
  border: 2px solid black;
  color: black;
}

.project3:hover {
  background: linear-gradient(270deg, rgba(158, 158, 158, 0.8), rgba(81, 80, 80, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
}

.project4 {
  background: transparent;
  background-position: 1% 50%;
  border: 2px solid rgb(6, 23, 100);
  color: rgb(6, 23, 100);
}

.project4:hover {
  background: linear-gradient(270deg, rgba(57, 172, 218, 0.8),rgba(57, 172, 218, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
}

.projectBtn:hover {
  border: 2px solid white;
  color: white;
  background-position: 99% 50%;
  background-size: 300% 300%;
}

.sourceBtn div {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  font-size: 12px;
}

.sourceBtn .fa-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  font-size: 20px;
}

.sourceBtn:hover .fa-code{
  opacity: 0;
}

.sourceBtn:hover div {
  opacity: 1;
}

.pageBtn div {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  font-size: 12px;
}

.pageBtn .fa-file {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  font-size: 20px;
}

.pageBtn:hover .fa-file{
  opacity: 0;
}

.pageBtn:hover div {
  opacity: 1;
}

.radioBtns {
  position: fixed;
  width: 280px;
  height: 50px;
  left: 500px;
  top: -100%;
  transition: all 0.3s;
}

.radioBtn {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  opacity: 0.3;
}

.radio0 {
  background-color: yellow;
  cursor: pointer;
}

.radio1 {
  background-color: salmon;
  cursor: pointer;
}

.radio2 {
  background-color: purple;
  cursor: pointer;
}

.radio3 {
  background-color: black;
  cursor: pointer;
}

.radio4 {
  background-color: skyblue;
  cursor: pointer;
}

.active {
  opacity: 1;
}

@media screen and (max-width: 1200px), (max-height: 768px) {
  .fixbtn {
    font-size: 12px;
    letter-spacing: 0.3em;
    padding: 10px 15px;
  }
  .btn {
    font-size: 12px;
    letter-spacing: 0.3em;
    padding: 10px 15px;
    margin: 0.625rem;
  }
  .projectBtn {
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.3em;
    padding: 10px 12px;
    margin: 0.625rem;
  }
  .radioBtns {
    left: 400px;
  }
  .radioBtn {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  .sourceBtn div {
    font-size: 10px;
  }
  .sourceBtn .fa-code {
    font-size: 15px;
  }
  .pageBtn div {
    font-size: 10px;
  }
  .pageBtn .fa-file {
    font-size: 15px;
  }
  .stackInformation {
    width: 48vw;
    height: 60vh;
    min-width: 550px;
    min-height: 500px;
  }
  .stackInformation h1 {
    font-size: 20px;
  }
  .stackInformation ul {
    font-size: 13px;
  }
}