body {
	margin: 0;
	overflow: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

#three-canvas {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
}

.sections {
	position: relative;
}

.section {
	box-sizing: border-box;
	padding: 5rem;
	height: 100vh;
	z-index: -1;
}

.section h2 {
	margin: 0;
	font-size: 10vmin;
}

.section:nth-child(odd) {
	text-align: right;
}